header {
  /*Position*/
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  padding-left: 60px;

  /*Dimensions*/
  height: 50px;

  /*Style*/
  background-color: var(--main-color-nr);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#btn_home {
  /*Position*/
  position: absolute;
  top: 0px;
  left: 10px;

  /*Dimensions*/
  height: 40px;
  width: 40px;
  margin: 5px;
}

.btn_hd {
  /*Position*/
  position: relative;

  /*Dimensions*/
  height: 100%;
  margin: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;

  /*Style*/
  color: var(--main-color-blc);

  border-width: 1px;
  border-radius: 10px;
}

.btn_hd::after {
  /*Position*/
  position: absolute;
  top: 42px;

  /*Dimensions*/
  height: 2px;
  width: 0px;

  /*Style*/
  background-color: var(--main-color-blc);

  /*Gégéral*/
  content: "";

  /*Hover*/
  transition: 0.3s;
}

.btn_hd:hover:after {
  width: 100%;
  content: "";
}

#pqt_btn_cls {
  /*Position*/
  position: relative;

  /*Dimensions*/
  height: 100%;
}

#pqt_btn_ins {
  /*Position*/
  position: absolute;
  right: 20px;

  /*Dimensions*/
  height: 100%;
}

#id_menu_clsm {
  /*Position*/
  position: absolute;
  right: -10px;
}

#id_menu_user {
  /*Position*/
  position: absolute;
  right: -20px;
}

.btn_menu_drl {
  /*Dimensions*/
  height: 40px;
  width: 150px;

  /*Style*/
  background-color: var(--main-color-nr);
  color: var(--main-color-blc);
  cursor: pointer;
  text-decoration: none;
}

.btn_menu_drl:hover {
  /*Style*/
  background-color: var(--main-color-blc);
  color: var(--main-color-nr);
}

.hd_icon {
  /*Position*/
  margin-left: 10px;
  margin-right: 10px;
}
